<div class="container" >
  <div class="center-card mat-elevation-z10">
    <mat-toolbar color="primary">{{'COMMON.LABEL.RESET_PASSWORD' | translate}}</mat-toolbar>
    <mat-card>
      <mat-card-content>
        <div class="flex-row icon-input">
          <mat-icon>face</mat-icon>
          <mat-form-field>
            <label>
              <input type="text"
                     matInput
                     [formControl]="usernameFormControl"
                     [placeholder]="'COMMON.LABEL.USERNAME' | translate" required>
            </label>
            <mat-error *ngIf="usernameFormControl.invalid">{{getErrorMessage(usernameFormControl)}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <p class="info" *ngIf="bOk">{{'COMMON.MESSAGE.EMAIL_SENT' | translate}}</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="action-buttons-container">
          <button mat-button
                  [disabled]="!isValid()"
                  (click)="forgotPassword()"
                  color="primary"
                  class="btn waves-effect waves-light">
            {{'COMMON.LABEL.SEND_EMAIL' | translate}}
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
