<h2 mat-dialog-title>{{'CHANGE_ACCOUNT_PASSWORD.TITLE' | translate}}</h2>
<mat-dialog-content>
  <div class="container">
    <mat-form-field>
      <label>
        <input matInput
               type="password"
               [placeholder]="'COMMON.LABEL.CURRENT_PASSWORD' | translate"
               [formControl]="currentPasswordFormControl" required>
      </label>
      <mat-error *ngIf="currentPasswordFormControl.invalid">{{getErrorMessage(currentPasswordFormControl)}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <label>
        <input matInput
               type="password"
               [placeholder]="'COMMON.LABEL.NEW_PASSWORD' | translate"
               [formControl]="newPasswordFormControl" required>
      </label>
      <mat-error *ngIf="newPasswordFormControl.invalid">{{getErrorMessage(newPasswordFormControl)}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <label>
        <input matInput
               type="password"
               [placeholder]="'COMMON.LABEL.CONFIRM_PASSWORD' | translate"
               [formControl]="confirmPasswordFormControl" required>
      </label>
      <mat-error *ngIf="confirmPasswordFormControl.invalid">{{getErrorMessage(confirmPasswordFormControl)}}</mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="!isValid()" mat-button color="primary" (click)="change()">
    <mat-icon>save</mat-icon> {{'COMMON.ACTION.CHANGE' | translate}}
  </button>
  <button mat-button color="primary" (click)="dismiss()">
    <mat-icon>cancel</mat-icon>
    {{'COMMON.ACTION.CANCEL' | translate}}
  </button>
</mat-dialog-actions>
