<div class="container" >
  <div class="center-card mat-elevation-z10">
    <mat-toolbar color="primary">Set Password</mat-toolbar>
    <mat-card>
      <mat-card-content>
        <div class="flex-row icon-input">
          <mat-icon>lock_open</mat-icon>
          <mat-form-field>
            <label>
              <input type="password"
                     matInput
                     [formControl]="newPasswordFormControl"
                     placeholder="New Password">
            </label>
            <mat-error *ngIf="newPasswordFormControl.invalid">{{getErrorMessage(newPasswordFormControl)}}</mat-error>
          </mat-form-field>
        </div>

        <div class="flex-row icon-input">
          <mat-icon>lock_open</mat-icon>
          <mat-form-field>
            <label>
              <input type="password"
                     matInput
                     [formControl]="confirmPasswordFormControl"
                     placeholder="Confirm Password">
            </label>
            <mat-error *ngIf="confirmPasswordFormControl.invalid">{{getErrorMessage(confirmPasswordFormControl)}}</mat-error>
          </mat-form-field>
        </div>

        <div>
          <p class="error" *ngIf="bMessage">{{ message }}</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="action-buttons-container">
          <button mat-button
                  [disabled]="!isValid()"
                  (click)="save()"
                  color="primary"
                  class="btn waves-effect waves-light">
            Save
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
