<div class="top-bar">
    <span>{{pageTranslationID + 'TITLE' | translate}}</span>
</div>
<div class="table-container mat-elevation-z4">
    <div class="actions-bar">
        <button color="primary"
                mat-button
                (click)="add()"
                [disabled]="!roleService.hasRole('ROLE_MANAGE_USERS')">
            <mat-icon>add</mat-icon> {{'COMMON.ACTION.ADD_NEW' | translate}}
        </button>
        <button color="primary"
                mat-button
                (click)="reload()">
            <mat-icon>refresh</mat-icon> {{'COMMON.ACTION.REFRESH_TABLE' | translate}}
        </button>
        <button (click)="delete()"
                mat-button
                [disabled]="!roleService.hasRole('ROLE_MANAGE_USERS') || selection.isEmpty()"
                color="primary">
            <mat-icon>delete</mat-icon> {{'COMMON.ACTION.DELETE_SELECTED' | translate}}
        </button>
    </div>

    <app-chip-table-filter [filters]="filters"
                           [filterTypes]="filterTypes"
                           [pageTranslationID]="pageTranslationID"
                           (filterChangedEvent)="applyFilter()">
    </app-chip-table-filter>

    <app-simple-table [displayColumns]="getDisplayColumns()"
                      [progressBarMode]="getProgressBarMode()"
                      [dataSource]="dataSource"
                      [tableActions]="tableActions"
                      [pageTranslationID]="pageTranslationID"
                      [tableColumnDefinitions]="tableColumnDefinitions"
                      [selection]="selection"
    ></app-simple-table>
</div>
